$N100: rgb(243, 244, 246);
$N50: rgb(246, 247, 249);
$White: rgb(255, 255, 255);
$N150: rgb(234, 236, 240);
$N200: rgb(216, 218, 223);
$B500: rgb(29, 86, 197);
$N800: rgb(123, 131, 147);
$N900: rgb(69, 82, 108);
$N1000: rgb(48, 57, 75);
$R100: rgb(253, 231, 231);
$B100: rgb(231, 237, 253);
$G100: rgb(226, 250, 224);
$P100: rgb(233, 231, 253);
$R500: rgb(255, 87, 87);
$R600: rgb(143, 54, 54);
$B600: rgb(54, 79, 143);
$G600: rgb(48, 75, 48);
$P600: rgb(61, 54, 143);
$main-semibold-font-family: Inter;
$main-semibold-font-size: 16px;
$main-semibold-font-weight: 400;
$main-semibold-line-height: 20px;
$main-semibold-letter-spacing: 0px;
$text-semibold-font-family: Inter;
$text-semibold-font-size: 14px;
$text-semibold-font-weight: 400;
$text-semibold-line-height: 20px;
$text-semibold-letter-spacing: 0px;
$text-medium-font-family: Inter;
$text-medium-font-size: 14px;
$text-medium-font-weight: 500;
$text-medium-line-height: 20px;
$text-medium-letter-spacing: 0px;
$text-regular-font-family: Inter;
$text-regular-font-size: 14px;
$text-regular-font-weight: 400;
$text-regular-line-height: 20px;
$text-regular-letter-spacing: 0px;
$small-medium-font-family: Inter;
$small-medium-font-size: 12px;
$small-medium-font-weight: 500;
$small-medium-line-height: 16px;
$small-medium-letter-spacing: 0px;
$small-semibold-font-family: Inter;
$small-semibold-font-size: 12px;
$small-semibold-font-weight: 400;
$small-semibold-line-height: 16px;
$small-semibold-letter-spacing: 0px;
$S100:  0px 0px 1px rgba(0, 0, 0, 0.04);
$S200:  0px 0px 4px rgba(0, 0, 0, 0.08);